@use '../../styles/abstract/variables';
.heard{
  padding: 0.3rem 1rem;
  position: sticky;
  top: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  height: 4rem;
  z-index: 100;
  backdrop-filter: blur(20px);
  background: hsla(0,0%,100%,.73);
  opacity: 1;

  .visibility{
    display: none;  
  }
  &__main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
    &__logo{
      width: 40%;      
    }
    &--button{
      .icon{
        color: variables.$color-gray ;
      }      
    }
  }
  &__body{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: start; 
    gap: 10px;  
    position: fixed;
    top: 0;
    right: 0;   
    background: rgba(0, 0, 0 ,0.8);
    width: 100%;

    &--button{
      margin-top: 1rem;
      .icon{        
        background-color: #FDFEFE;
        color: variables.$color-gray ;
        border-radius: 50%;
        padding: 0.5rem;
      }
    }

    &--options{      
      display: flex;
      flex-direction: column;
      height: 100vh;      
      padding: 0.5rem;
      background-color: #FDFEFE;
      background-image: url('https://res.cloudinary.com/dkddd5aky/image/upload/v1690450434/site-web/Fondo_dgpvgs.webp');
      background-size:cover;    
      width: 60%;

      .logo{
        width: 100%; 
      }

      .options{
        padding-top: 1.5rem;           
        .option{
          display: flex;
          gap: 5px;          
          font-family: variables.$font-PermanentMarker;
          color: variables.$color-gray;         
          font-size: 16px;
          padding: 0.5rem 0.5rem;
          text-align: left;
          transition: .6s;
          &:hover{
            color: variables.$color-yellow;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .heard{
    height: 5.2rem;   
    &__main{
      &__logo{
        width: 30%;      
      }
      &--button{
        .icon{
          height: 40px;
          width: 40px;
        }      
      }
    }
    &__body{
      &--options{
        width: 30%;
      }  
    }
  }
}

@media (min-width: 768px) {
  .heard{  
    &__main{
      &__logo{
        width: 25%;      
      }
    }
  }
}

@media (min-width:1024px) {
  .heard{   
    height: 5rem;

    .visibility{
      display: flex;
    }
    &__main{
      display: none;
    }
    &__body{
      display: flex;      
      justify-content:center;
      align-items:center;
      background: none;
      position:initial;
      &--button{
        display: none;
      }
      &--options{
        justify-content: space-between;  
        background: none;        
        flex-direction: row;
        height: auto;
        width: 100%;
        padding: 0rem 4rem;
        .logo{
          width: 20%; 
        }
        .options{
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0rem;          
          padding-left: 15rem;
          .option{
            padding-left: 2rem;
            &_icon{
              display: none;
            }
          }
        } 
      }
    }
  }  
}
  
@media (min-width:1440px){
  .heard{
    height: 7rem;
    &__body{
      &--options{
        .options{
          .option{              
            font-size: 20px;
          }
        }
      }
    }
  }

}