@use '../../styles/abstract/variables.scss';

.home {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
  position: relative;
  z-index: 1;
  background-image: url('https://res.cloudinary.com/dkddd5aky/image/upload/v1691421926/site-web/Contact-Desktop_njf8oz.webp');
  background-size: cover;
  background-position: center;
  background-color: variables.$color-background;

  &__profile {
    height: 276px;
    width: 276px;
  }

  &__information {
    padding-top: 0.5rem;
    text-align: left;

    &__title {
      font-family: variables.$font-PermanentMarker;
      color: variables.$color-yellow;
      font-size: 24px;
      position: relative;
      width: 320px;
      overflow: hidden;

      .message {
        position: absolute;
        top: 0;
        left: 30px;
        overflow: hidden;
        display: block;
        background-color: variables.$color-yellow-2;
        color: variables.$color-gray;
        padding-left: 0.5rem;
        animation: openclose 10s ease-in-out infinite;

        @keyframes openclose {
          0% {
            top: 0;
            width: 0;
          }

          5% {
            width: 0;
          }

          15% {
            width: 100px;
          }

          30% {
            top: 0rem;
            width: 100px;
          }

          33% {
            top: 0rem;
            width: 0;
          }

          35% {
            top: 0rem;
            width: 0;
          }

          38% {
            top: -2.2rem;
          }

          48% {
            top: -2.2rem;
            width: 80px;
          }

          62% {
            top: -2.2rem;
            width: 80px;
          }

          66% {
            top: -2.2rem;
            width: 0;
          }

          71% {
            top: -4.5rem;
            width: 0;
          }

          86% {
            top: -4.5rem;
            width: 150px;
          }

          95% {
            top: -4.5rem;
            width: 150px;
          }

          98% {
            top: -4.5rem;
            width: 0;
          }

          100% {
            top: 0;
            width: 0;
          }
        }
      }
    }

    &__subtitle {
      font-family: variables.$font-PermanentMarker;
      color: variables.$color-yellow;
      font-size: 24px;
    }

    &__post {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-family: variables.$font-PermanentMarker;
      color: variables.$color-black;
      font-size: 16px;
    }

    &__description {
      font-family: variables.$font-IndieFlower;
      color: variables.$color-gray;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.5;
    }

    &__redes {
      display: flex;
      gap: 5px;
      padding-top: 1rem;
      color: variables.$color-gray;
      position: relative;

      &--linkedin,
      &--github {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-image: url('https://res.cloudinary.com/dkddd5aky/image/upload/v1691383283/site-web/mancha_olpamn.webp');
        background-position: center;
        background-size: 90px;

        .icon:hover {
          width: 30px;
          height: 30px;
        }
      }

      .rocket {
        position: absolute;
        bottom: -90%;
        left: 40%;
        color: variables.$color-yellow;
        animation: animateRocket 0.2s linear infinite;

        @keyframes animateRocket {

          0%,
          100% {
            transform: translate(0, 0) rotate(180deg);
          }

          50% {
            transform: translate(0, 3px) rotate(180deg);
          }
        }

      }

    }
  }
}

.dark {

  &:before {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.23;
    content: '';
    filter: blur(2px);
    background-image: none;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.9);
    filter: blur(0);
  }

  .home__information__post {
    color: variables.$color-gray;
  }
}

@media (min-width: 576px) {
  .home {
    flex-direction: row-reverse;
    justify-content: center;
    height: auto;
    padding: 3rem 2rem;

    &:before {
      background-position: center;
    }

    &__information {
      &__redes {
        .rocket {
          bottom: -100%;
          left: 0%;
          right: 10%;
        }
      }
    }
  }
}

@media (min-width:768px) {
  .home {
    &__information {
      &__description {
        padding-right: 2rem;
      }
    }
  }
}

@media (min-width:1024px) {
  .home {
    height: 100%;
    padding: 3rem 4rem;
    background-image: url('https://res.cloudinary.com/dkddd5aky/image/upload/v1691457437/site-web/DesktopView_vo7nnc.webp');

    &__profile {
      height: 400px;
      width: 400px;
    }

    &__information {
      &__title {
        font-size: 36px;

        .message {
          left: 40px;

          @keyframes openclose {
            0% {
              top: 0;
              width: 0;
            }

            5% {
              width: 0;
            }

            15% {
              width: 135px;
            }

            30% {
              top: 0rem;
              width: 135px;
            }

            33% {
              top: 0rem;
              width: 0;
            }

            35% {
              top: 0rem;
              width: 0;
            }

            38% {
              top: -3.2rem;
            }

            48% {
              top: -3.2rem;
              width: 120px;
            }

            62% {
              top: -3.2rem;
              width: 120px;
            }

            66% {
              top: -3.2rem;
              width: 0;
            }

            71% {
              top: -6.4rem;
              width: 0;
            }

            86% {
              top: -6.4rem;
              width: 220px;
            }

            95% {
              top: -6.4rem;
              width: 220px;
            }

            98% {
              top: -6.4rem;
              width: 0;
            }

            100% {
              top: 0;
              width: 0;
            }
          }
        }
      }

      &__subtitle {
        font-size: 36px;
      }

      &__post {
        font-size: 18px;
      }

      &__description {
        font-size: 16px;
      }

      &__redes {
        .rocket {
          bottom: -200%;
        }
      }
    }
  }
}

@media (min-width:1440px) {
  .home {
    padding: 3rem 8rem;

    &__profile {
      height: 500px;
      width: 500px;
    }

    &__information {
      &__title {
        font-size: 48px;
        width: 340px;

        .message {
          left: 55px;

          @keyframes openclose {
            0% {
              top: 0;
              width: 0;
            }

            5% {
              width: 0;
            }

            15% {
              width: 180px;
            }

            30% {
              top: 0rem;
              width: 180px;
            }

            33% {
              top: 0rem;
              width: 0;
            }

            35% {
              top: 0rem;
              width: 0;
            }

            38% {
              top: -4.4rem;
            }

            48% {
              top: -4.4rem;
              width: 150px;
            }

            62% {
              top: -4.4rem;
              width: 150px;
            }

            66% {
              top: -4.4rem;
              width: 0;
            }

            71% {
              top: -8.8rem;
              width: 0;
            }

            86% {
              top: -8.8rem;
              width: 300px;
            }

            95% {
              top: -8.8rem;
              width: 300px;
            }

            98% {
              top: -8.8rem;
              width: 0;
            }

            100% {
              top: 0;
              width: 0;
            }
          }
        }
      }

      &__subtitle {
        font-size: 48px;
      }

      &__post {
        font-size: 24px;
      }

      &__description {
        font-size: 20px;
        padding-right: 6rem;
      }

    }

  }
}