* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
  }  
  a {
    text-decoration: none;
  }
  
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
 /* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
  margin: 0;
}
  /* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}